<div class="best-seller__wrapper container">
  <div class="best-seller__left">
    <img
      class="best-seller__left-img"
      srcset="{{ section.settings["best-seller__image-1"] | image_url }} {{ section.settings["best-seller__image-1"].width }}w"
      src="{{ section.settings["best-seller__image-1"] | image_url }}"
      loading="lazy"
      width="{{ section.settings["best-seller__image-1"].width }}"
      height="{{ section.settings["best-seller__image-1"].height }}"
    >
  </div>
  <div class="best-seller__right">
    <img
      class="best-seller__right-img"
      srcset="{{ section.settings["best-seller__image-2"] | image_url }} {{ section.settings["best-seller__image-2"].width }}w"
      src="{{ section.settings["best-seller__image-2"] | image_url }}"
      loading="lazy"
      width="{{ section.settings["best-seller__image-2"].width }}"
      height="{{ section.settings["best-seller__image-2"].height }}"
    >
</div>
<div class="best-seller__info">
  <p class="best-seller__subheading">
    {{ section.settings["best-seller__subheading"] }}
  </p>
  <h3 class="best-seller__heading">
    {{ section.settings['best-seller__heading'] }}
  </h3>
  <p class="best-seller__text">
    {{ section.settings['best-seller__text'] }}
  </p>
  <a
    href="{{section.settings.galery__button_url}}"
    class="best-seller__button"
  >
    {{ section.settings['best-seller__button'] }}
  </a>
</div>
</div>
