
<div class="footer">
    <div class="footer__wrapper container">
      <div class="footer__left">
          <div class="footer__left-wrapper">
              <h5 class="footer__heading">
                  {{section.settings.footer__heading_one}}
              </h5>
              {% form 'customer' %}
                  <div class="footer__inputs">
                      <input type="email" name="contact[email]" id="email" placeholder="Enter your email" class="footer__input">
                      <button class="footer__arrow" type="submit">
                          {% render 'arrow_right' %}
                      </button>
                  </div>
              {% endform %}
              <div class="footer__links">
                  <a href="{{section.settings.facebook}}" class="footer__link">
                      {% render 'facebook'%}
                  </a>
                  <a href="{{section.settings.instagram}}" class="footer__link">
                      {% render 'instagram'%}
                  </a>
                  <a href="{{section.settings.mail}}" class="footer__link">
                      {% render 'mail'%}
                  </a>
              </div>
          </div>
              <img {% if section.settings.logo__big != blank %} src="{{section.settings.logo__big | image_url}}" {% else %}
                  src="{{"image-logo_big.png" | asset_url}}" {% endif %} class="footor__logo">
      </div>

      <div class="footer__lists">
        {% for block in section.blocks %}
          <ul class="footer__links footer__links--first">
              <h3 class="footer__heading">{{ block.settings.footer_link_list.title}}</h3>
              {% for link in block.settings.footer_link_list.links %}
                <li><a href="{{ link.url }}" class="footer-nav">{{ link.title }}</a></li>
              {% endfor %}
          </ul>
        {% endfor %}
      </div>
  </div>
    <p class="footer__bottom">
        {{section.settings.footer__bottom}}
    </p>
  </div>