{% if shop.customer_accounts_enabled %}
    {% if customer %}
    <a href="{{ routes.account_url }}" class="header__right-icon header__right-search {% if template.name != "index" %} header__right-black {%
        endif %}">
        {% render 'search' %}
    </a>
    <div class="dropdown">
        <button class="dropbtn header__right-icon {% if template.name != "index" %} header__right-black {% endif %}">{%
            render 'account' %}</button>
        <div class="dropdown-content">
            <a href="{{ routes.account_url }}">{{ 'general.header.header__account' | t }}</a>
            <a href="{{ routes.account_logout_url }}">{{ 'general.header.header__logOut' | t }}</a>
        </div>
    </div>
    {% else %}
    <a href="#" class="header__right-icon header__right-search {% if template.name != "index" %} header__right-black {% endif %}">
        {% render 'search' %}
    </a>
    <div class="dropdown">
        <button class="dropbtn header__right-icon {% if template.name != "index" %} header__right-black {% endif %}">{%
            render 'account' %}</button>
        <div class="dropdown-content">
            <a href="{{ routes.account_login_url }}">{{ 'general.header.header__logIn' | t }}</a>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <a href="#" class="header__right-icon header__bag{% if template.name != "index" %} header__right-black {% endif %}">
        {% render 'bag' %}
    </a>
