{{ "style-account-overview.css" | asset_url | stylesheet_tag }}
{{ "style-account.css" | asset_url | stylesheet_tag }}


<section class="addresses container customer">
    <div class="customer__sidebar addresses__sidebar">
        <h5 class="customer__sidebar-title">My Account</h5>
        <li class="customer__sidebar-item"><a class="customer__sidebar-link" href="{{ routes.account_url }}">Account Overview</a></li>
        <li class="customer__sidebar-item"><a class="customer__sidebar-link" href="{{customer.orders[0].customer_url}}">Order Details</a></li>
        <li class="customer__sidebar-item"><a class="customer__sidebar-link customer__sidebar-link--active" href="{{ routes.account_addresses_url }}">Address Book</a></li>
    </div>
      <div class="addresses__all customer__content">
          
         <div class="addAddress" id="AddAddress">
            <p class="login__heading">Add New Address</p>
           {% form 'customer_address', customer.new_address %}
           
           {{ form.errors | default_errors }}
           <div class="register-two-inputs">
            <div class="login__inputs">
                <label class="login__label" for="first_name">First Name</label>
                <input class="login__input" type="text" value="" name="address[first_name]" size="30" />
            </div>
            <div class="login__inputs">
                <label class="login__label" for="last_name">Last Name</label>
                <input class="login__input" type="text" value="" name="address[last_name]" size="30" />
            </div>
           </div>
           <div class="login__inputs">
                <label class="login__label"  for="address1">Address 1</label>
                <input class="login__input" type="text" value="" name="address[address1]" />
           </div>
           <div class="login__inputs">
                <label class="login__label"  for="address2">Address 2</label>
                <input class="login__input" type="text" value="" name="address[address2]" />
           </div>
           <div class="register-two-inputs register-two-inputs--second">
            <div class="login__inputs">
                <label class="login__label"  for="city">City</label>
                <input class="login__input" type="text" value="" name="address[city]" />
            </div>
            <div class="login__inputs">
                <label class="login__label"  for="country">Country</label>
                <input class="login__input" type="text" value="" name="address[country]" />
            </div>
           </div>
           <div class="address__submit">
               <button type="submit" class="address__add">Add New Address</button>
               <a class="address__cancel" href="{{ routes.account_addresses_url }}">Cancel</a>
           </div>
           {% endform %}
            </div>
            
            <div id="defaultAddress">      
                <div class="address__list">
                {% for address in customer.addresses %}
                    <div class="address" id="address">
                        {% if address == customer.default_address %}
                        <h5 class="address__title">Default Address</h5>
                        {% else %}
                        <h5 class="address__title">Address {{ forloop.index }}</h5>
                        {% endif %}     
                        <p class="customer__name">
                            {{address.name}}
                        </p>
                        <p class="customer__address">
                          {% if address.address1 %}
                          {{ address.address1 }},
                        {% elsif  address.address2  %}
                          {{ address.address2 }} 
                        {% elsif address.country %}
                          {{ address.country}}
                        {% elsif address.city %}
                          {{ address.city}},
                        {% elsif address.zip %}
                          {{ address.zip }}.
                        {% endif %}
                        </p> 
                    <div class="address__change">
                       <button id="EditFormButton_{{ address.id }}"
                              type="button"
                              class="btn btn--small address-edit-toggle"
                              data-form-id="{{ address.id }}"
                              aria-owns="EditAddress_{{ address.id }}"
                              aria-expanded="false">
                        Edit 
                        </button>
                        {% unless address == customer.default_address %}
                        <p>|</p>
                        <form class="address-delete-form"
                            method="post"
                            action="/account/addresses/{{ address.id }}"
                        >
                          <input type="hidden" name="_method" value="delete">
                          <button type="submit">Delete</button>
                        </form>
                        {% endunless %}
                    </div>
                    </div>
                {% endfor %}
              </div>
              <a class="address__add" href="#AddAddress">
                  Add New Address
              </a>
        </div>
        <div id="edit-address-form" class="edit-address__form hidden">
        {% for address in customer.addresses %}
          <div id="EditAddress_{{ address.id }}" class="hidden addAddress">
            {%- form 'customer_address', address -%}      
            <p class="login__heading">Edit Address</p>

             <div class="register-two-inputs">
              <div class="login__inputs">
                <label class="login__label" for="AddressFirstName_{{ form.id }}">First Name</label>
                <input class="login__input" type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" >

              </div>
              <div class="login__inputs">
                <label class="login__label" for="AddressLastName_{{ form.id }}">Last Name</label>
                <input class="login__input" type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" >
              </div>
             </div>
              <div class="login__inputs">
                <label class="login__label" for="AddressAddress1_{{ form.id }}">Address 1</label>
                <input class="login__input" type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" >
              </div>
              <div class="login__inputs">
                <label class="login__label" for="AddressAddress2_{{ form.id }}">Address 2</label>
                <input class="login__input" type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" >
              </div>
             <div class="register-two-inputs register-two-inputs--second">
               <div class="login__inputs">
                 <label class="login__label" for="AddressCity_{{ form.id }}">City</label>
                 <input class="login__input" type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
               </div>
               <div class="login__inputs">
                 <label class="login__label" for="AddressCity_{{ form.id }}">Country</label>
                 <input class="login__input" type="text" id="AddressCity_{{ form.id }}" name="address[country]" value="{{ form.country }}" autocomplete="address-level2">
               </div>
              </div>
              <div class="address__submit">
                <button type="submit" class="address__add">Update Address</button>
                <a href="{{ routes.account_addresses_url }}" class="address__cancel">Cancel</a>
              </div>
            {%- endform -%}
        </div>
        {% endfor %}
      </div>
      </div>
</div>

<script>
 let editButtons =  document.querySelectorAll(".address-edit-toggle")
 
 editButtons.forEach(btn =>{
    btn.addEventListener('click', function(e){
      
      let formId = e.target.dataset.formId
      let formContainer = document.getElementById("edit-address-form")
      let editButton = document.getElementById(`EditFormButton_${formId}`)
      let editForm = document.getElementById(`EditAddress_${formId}`)
      let buttonArea = editButton.getAttribute('aria-expanded') == "true"
      let addressContainer = document.getElementById("defaultAddress")
      
      addressContainer.classList.toggle("hidden")
      formContainer.classList.toggle('hidden')
      editForm.classList.toggle('hidden')
      editButton.setAttribute('aria-expanded', !buttonArea)

    })
 })


</script>