{% capture bb_checkout_link -%}
  {%- render 'bb', type: 'bb_checkout_link' -%}
{%- endcapture %}

{% capture bb_total_price -%}
  {%- render 'bb', type: 'bb_total_price' -%}
{%- endcapture -%}
{%- assign bb_total_price = bb_total_price | plus: 0 %}

<!-- Bags -->
{% if cart.item_count > 0 %}
  <section class="bags container">
    <h3 class="bags__title">Cart</h3>
    <form
    action="{% if bb_checkout_link != blank %}{{ bb_checkout_link }}{% else %}/cart{% endif %}"
    method="post"
    novalidate
  >
    {% render 'bb', type: 'cart' %}
    <div class="bags__list">
      <div class="bag__heading">
        <h4 class="bag__title">Product</h4>
        <h4 class="bag__price">Price</h4>
        <h4 class="bag__quantity">QTY</h4>
        <h4 class="bag__total">Total</h4>
      </div>
      {% for item in cart.items %}
      <div class="bag__product">
        {% capture bb_price -%}
            {%- render 'bb', type: 'bb_price', item: item -%}
          {%- endcapture -%}
          {%- assign bb_price = bb_price | plus: 0 %}
          {% capture bb_original_line_price -%}
            {%- render 'bb', type: 'bb_original_line_price', item: item -%}
          {%- endcapture -%}
          {%- assign bb_original_line_price = bb_original_line_price | plus: 0 %}
          {% capture bb_line_price -%}
            {%- render 'bb', type: 'bb_line_price', item: item -%}
          {%- endcapture -%}
          {%- assign bb_line_price = bb_line_price | plus: 0 %}
        <div class="bag__product-info">
          <a href="{{ item.url | within: collections.all }}">
            <img
              src="{{ item | img_url: 'medium' }}"
              alt="{{ item.title | escape }}"
              class="bag__product-img"
              loading="lazy"
            >
          </a>
          <div class="bag__product-desc">
            <a class="bag__product-title" href="{{ item.url }}">
              {{- item.product.title -}}
            </a>
            <div class="bag__product-delivery">
              <p>{{ item.variant.title }}</p>
            </div>
          </div>
        </div>
        <h3 class="bag__product-prices">{{ bb_price | money }}</h3>

        <div class="bag__product-quantity">
          <div class="cart__quantityy">
            <input
              type="number"
              name="updates[]"
              id="updates_{{ item.key }}"
              value="{{ item.quantity }}"
              min="0"
              class="cart__quantity"
            >
          </div>
        </div>
        <div class="bag__product-total">
          {% if bb_original_line_price != bb_line_price %}
          <span class="bag__product-total cart__price--highlight">
            {{ bb_original_line_price | money }}
          </span>
        {% endif %}
        <span class="bag__product-total">{{ bb_line_price | money }}</span>
        {% for discount in item.discounts %}
         <p>{{ discount.title }}</p> 
        {% endfor %}
        </div>
        <div class="bag__product__links">
          <a
          class="bag__product-link"
          href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
          >Remove</a
        >
        </div>
      </div>
      {% endfor %}
      <div class="bags__bottom">
        <div class="bags__checkout">
          <div class="bags__checkout-total">
            <h2 class="bags__checkout-total-title">Subtotal</h2>
            <h2 class="bags__checkout-total-price">{{ bb_total_price | money }}</h2>
          </div>
          <p class="bags__checkout-title">
            Tax and shipping calculates at checkout.
          </p>
          <button class="bags__checkout-button" name="checkout" type="submit">Checkout</button>
        </div>
      </div>
    </div>
  </section>
</form>
{% else %}
  <div class="cart_empty container" style="text-align: center">
    <h2>CART</h2>
    Cart is empty
  </div>
{% endif %}
